{% extends 'base.html' %}
{% load static %}
{% block content%}

    <!-- Hero Area Start -->
        {% include 'hero.html' %}
    <!-- Hero Area End -->
    
    <!-- Services Section Start -->
        {% include 'servicos.html'%}
    <!-- Services Section End -->

    <!-- About Section start -->
         {% include 'about.html'%}   
    <!-- About Section End -->

    <!-- Features Section Start -->
        {% include 'features.html'%}    
    <!-- Features Section End -->   

    <!-- Team Section Start -->
        {% include 'team.html' %}    
    <!-- Team Section End -->

    <!-- Pricing section Start --> 
        {% include 'pricing.html' %}   
    <!-- Pricing Table Section End -->
  
    <!-- Testimonial Section Start -->    
        {% include 'testimonial.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
        {% include 'calltoaction.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
        {% include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->
    {% endblock %}